
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Documentr - Documenting schemas</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
    /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.table-desc {
    display: none;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Documentr</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link table_link" href="#" data-id="stats">Stats</a>
            </li>
          </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            {% for database in schema %}
                <li class="nav-item">
                  <a class="nav-link" href="#"><strong>{{ database }}</strong></a>
                  <ul>
                      {% for table in schema[database] %}
                        <li><a href="#" class="table_link" data-id="{{ database }}.{{ table['table'] }}">{{ table['table'] }}</a></li>
                      {% endfor %}
                  </ul>
                </li>
            {% endfor %}
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 table-desc" id="stats">
            <section class="row">
                <div class="col-12">
                    <h2>Author Stats</h2>
                    <ul class="list-group">
                      {% for author in author_stats %}
                      <li class="list-group-item justify-content-between">
                        {{ author }}
                        <span class="badge badge-default badge-pill">{{ author_stats[author] }}</span>
                      </li>
                      {% endfor %}
                    </ul>
                </div>
            </section>
        </main>

        {% for database in schema %}
            {% for table in schema[database] %}
                <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 table-desc" id="{{ database }}.{{ table['table'] }}">
                  <section class="row">
                    <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            {{ database }}.{{ table['table'] }} <span class="badge badge-success">{{ table['metadata']['version'] }}</span>
                          </div>
                          <div class="card-block">
                            <h4 class="card-title">Author: {{ table['metadata']['author'] }}</h4>
                            <p class="card-text">{{ table['metadata']['description'] }}</p>
                          </div>
                        </div>
                    </div>
                  </section>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Field name</th>
                          <th>Field Type</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for field in table['fields'] %}
                            <tr>
                              <td>{{ field['name'] }}</td>
                              <td>{{ field['type'] }}</td>
                              <td>{{ field['comment'] }}</td>
                            </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </main>
            {% endfor %}
        {% endfor %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('.table_link').click(function() {
               var id_to_display = $(this).attr('data-id');
               $('.table-desc').hide();
               id_to_display = id_to_display.replace('.', '\\.')
               $('#'+id_to_display).show()
           });
        });
   </script>
  </body>
</html>
